h1 {
    color: rgb(132, 35, 201);
    }

.header{
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.site-descraption{
    display: flex;
    flex-direction:column ;
    justify-content:first baseline ;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}


































